In [1]:
import numpy as np
import pandas as pd

In [3]:
%%bash
unzip loan_data_2007_2014.csv.zip

Archive:  loan_data_2007_2014.csv.zip
  inflating: loan_data_2007_2014.csv
  inflating: __MACOSX/._loan_data_2007_2014.csv

In [2]:
loan_data_backup = pd.read_csv("loan_data_2007_2014.csv")
loan_data_orig = loan_data_backup.copy()

<ipython-input-2-4438501d28ee>:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data_backup = pd.read_csv("loan_data_2007_2014.csv")

In [10]:
locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'locals()',
  'import numpy as np\nimport pandas as pd',
  'loan_data_backup = pd.read_csv("loan_data_2007_2014.csv",engine=\'python\')\n# loan_data_orig = loan_data_backup.copy()',
  "loan_data_backup['emp_length'].unique()",
  'loan_data_backup = pd.read_csv("loan_data_2007_2014.csv", encoding=\'latin1\')\n# loan_data_orig = loan_data_backup.copy()',
  "loan_data_backup['emp_length'].unique()",
  'loan_data_backup = pd.read_csv("loan_data_2007_2014.csv", low_memory=False)\n# loan_data_orig = loan_data_backup.copy()',
  "loan_data_backup['emp_length'].unique()",
  'loan_data_backup = pd.read_csv("loan_data_2007_2014.csv", encoding=\'iso-8859-1\')\n# loan_data_orig = loan_data_backup.copy()',
  'locals()'],
 '_oh': {1: {...},
  2: [],
  3: [],
  4: array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
         '4 years', '5 years', '6 years', '2 years', '7 years', nan],
        dtype=object),
  5: [{"expression": "loan_data_backup", "display_name": "", "type": "DataFrame", "repr": "[466285 rows x 75 columns]", "is_callable": false, "table_info": {"rows": 466285, "columns": 75, "row_index_names": [""], "column_index_names": [""], "column_names": ["Unnamed: 0", "id", "member_id", "loan_amnt", "funded_amnt", "funded_amnt_inv", "term", "int_rate", "installment", "grade", "sub_grade", "emp_title", "emp_length", "home_ownership", "annual_inc", "verification_status", "issue_d", "loan_status", "pymnt_plan", "url", "desc", "purpose", "title", "zip_code", "addr_state", "dti", "delinq_2yrs", "earliest_cr_line", "inq_last_6mths", "mths_since_last_delinq", "mths_since_last_record", "open_acc", "pub_rec", "revol_bal", "revol_util", "total_acc", "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt", "next_pymnt_d", "last_credit_pull_d", "collections_12_mths_ex_med", "mths_since_last_major_derog", "policy_code", "application_type", "annual_inc_joint", "dti_joint", "verification_status_joint", "acc_now_delinq", "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_il_6m", "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il", "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc", "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl", "inq_last_12m"], "column_types": {"Unnamed: 0": "int64", "id": "int64", "member_id": "int64", "loan_amnt": "int64", "funded_amnt": "int64", "funded_amnt_inv": "float64", "term": "object", "int_rate": "float64", "installment": "float64", "grade": "object", "sub_grade": "object", "emp_title": "object", "emp_length": "object", "home_ownership": "object", "annual_inc": "float64", "verification_status": "object", "issue_d": "object", "loan_status": "object", "pymnt_plan": "object", "url": "object", "desc": "object", "purpose": "object", "title": "object", "zip_code": "object", "addr_state": "object", "dti": "float64", "delinq_2yrs": "float64", "earliest_cr_line": "object", "inq_last_6mths": "float64", "mths_since_last_delinq": "float64", "mths_since_last_record": "float64", "open_acc": "float64", "pub_rec": "float64", "revol_bal": "int64", "revol_util": "float64", "total_acc": "float64", "initial_list_status": "object", "out_prncp": "float64", "out_prncp_inv": "float64", "total_pymnt": "float64", "total_pymnt_inv": "float64", "total_rec_prncp": "float64", "total_rec_int": "float64", "total_rec_late_fee": "float64", "recoveries": "float64", "collection_recovery_fee": "float64", "last_pymnt_d": "object", "last_pymnt_amnt": "float64", "next_pymnt_d": "object", "last_credit_pull_d": "object", "collections_12_mths_ex_med": "float64", "mths_since_last_major_derog": "float64", "policy_code": "int64", "application_type": "object", "annual_inc_joint": "float64", "dti_joint": "float64", "verification_status_joint": "float64", "acc_now_delinq": "float64", "tot_coll_amt": "float64", "tot_cur_bal": "float64", "open_acc_6m": "float64", "open_il_6m": "float64", "open_il_12m": "float64", "open_il_24m": "float64", "mths_since_rcnt_il": "float64", "total_bal_il": "float64", "il_util": "float64", "open_rv_12m": "float64", "open_rv_24m": "float64", "max_bal_bc": "float64", "all_util": "float64", "total_rev_hi_lim": "float64", "inq_fi": "float64", "total_cu_tl": "float64", "inq_last_12m": "float64"}, "generated_code": "", "is_html_default": false, "action_metadata": []}}],
  6: array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
         '4 years', '5 years', '6 years', '2 years', '7 years', nan],
        dtype=object),
  7: [{"expression": "loan_data_backup", "display_name": "", "type": "DataFrame", "repr": "[466285 rows x 75 columns]", "is_callable": false, "table_info": {"rows": 466285, "columns": 75, "row_index_names": [""], "column_index_names": [""], "column_names": ["Unnamed: 0", "id", "member_id", "loan_amnt", "funded_amnt", "funded_amnt_inv", "term", "int_rate", "installment", "grade", "sub_grade", "emp_title", "emp_length", "home_ownership", "annual_inc", "verification_status", "issue_d", "loan_status", "pymnt_plan", "url", "desc", "purpose", "title", "zip_code", "addr_state", "dti", "delinq_2yrs", "earliest_cr_line", "inq_last_6mths", "mths_since_last_delinq", "mths_since_last_record", "open_acc", "pub_rec", "revol_bal", "revol_util", "total_acc", "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt", "next_pymnt_d", "last_credit_pull_d", "collections_12_mths_ex_med", "mths_since_last_major_derog", "policy_code", "application_type", "annual_inc_joint", "dti_joint", "verification_status_joint", "acc_now_delinq", "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_il_6m", "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il", "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc", "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl", "inq_last_12m"], "column_types": {"Unnamed: 0": "int64", "id": "int64", "member_id": "int64", "loan_amnt": "int64", "funded_amnt": "int64", "funded_amnt_inv": "float64", "term": "object", "int_rate": "float64", "installment": "float64", "grade": "object", "sub_grade": "object", "emp_title": "object", "emp_length": "object", "home_ownership": "object", "annual_inc": "float64", "verification_status": "object", "issue_d": "object", "loan_status": "object", "pymnt_plan": "object", "url": "object", "desc": "object", "purpose": "object", "title": "object", "zip_code": "object", "addr_state": "object", "dti": "float64", "delinq_2yrs": "float64", "earliest_cr_line": "object", "inq_last_6mths": "float64", "mths_since_last_delinq": "float64", "mths_since_last_record": "float64", "open_acc": "float64", "pub_rec": "float64", "revol_bal": "int64", "revol_util": "float64", "total_acc": "float64", "initial_list_status": "object", "out_prncp": "float64", "out_prncp_inv": "float64", "total_pymnt": "float64", "total_pymnt_inv": "float64", "total_rec_prncp": "float64", "total_rec_int": "float64", "total_rec_late_fee": "float64", "recoveries": "float64", "collection_recovery_fee": "float64", "last_pymnt_d": "object", "last_pymnt_amnt": "float64", "next_pymnt_d": "object", "last_credit_pull_d": "object", "collections_12_mths_ex_med": "float64", "mths_since_last_major_derog": "float64", "policy_code": "int64", "application_type": "object", "annual_inc_joint": "float64", "dti_joint": "float64", "verification_status_joint": "float64", "acc_now_delinq": "float64", "tot_coll_amt": "float64", "tot_cur_bal": "float64", "open_acc_6m": "float64", "open_il_6m": "float64", "open_il_12m": "float64", "open_il_24m": "float64", "mths_since_rcnt_il": "float64", "total_bal_il": "float64", "il_util": "float64", "open_rv_12m": "float64", "open_rv_24m": "float64", "max_bal_bc": "float64", "all_util": "float64", "total_rev_hi_lim": "float64", "inq_fi": "float64", "total_cu_tl": "float64", "inq_last_12m": "float64"}, "generated_code": "", "is_html_default": false, "action_metadata": []}}],
  8: array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
         '4 years', '5 years', '6 years', '2 years', '7 years', nan],
        dtype=object),
  9: [{"expression": "loan_data_backup", "display_name": "", "type": "DataFrame", "repr": "[466285 rows x 75 columns]", "is_callable": false, "table_info": {"rows": 466285, "columns": 75, "row_index_names": [""], "column_index_names": [""], "column_names": ["Unnamed: 0", "id", "member_id", "loan_amnt", "funded_amnt", "funded_amnt_inv", "term", "int_rate", "installment", "grade", "sub_grade", "emp_title", "emp_length", "home_ownership", "annual_inc", "verification_status", "issue_d", "loan_status", "pymnt_plan", "url", "desc", "purpose", "title", "zip_code", "addr_state", "dti", "delinq_2yrs", "earliest_cr_line", "inq_last_6mths", "mths_since_last_delinq", "mths_since_last_record", "open_acc", "pub_rec", "revol_bal", "revol_util", "total_acc", "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt", "next_pymnt_d", "last_credit_pull_d", "collections_12_mths_ex_med", "mths_since_last_major_derog", "policy_code", "application_type", "annual_inc_joint", "dti_joint", "verification_status_joint", "acc_now_delinq", "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_il_6m", "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il", "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc", "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl", "inq_last_12m"], "column_types": {"Unnamed: 0": "int64", "id": "int64", "member_id": "int64", "loan_amnt": "int64", "funded_amnt": "int64", "funded_amnt_inv": "float64", "term": "object", "int_rate": "float64", "installment": "float64", "grade": "object", "sub_grade": "object", "emp_title": "object", "emp_length": "object", "home_ownership": "object", "annual_inc": "float64", "verification_status": "object", "issue_d": "object", "loan_status": "object", "pymnt_plan": "object", "url": "object", "desc": "object", "purpose": "object", "title": "object", "zip_code": "object", "addr_state": "object", "dti": "float64", "delinq_2yrs": "float64", "earliest_cr_line": "object", "inq_last_6mths": "float64", "mths_since_last_delinq": "float64", "mths_since_last_record": "float64", "open_acc": "float64", "pub_rec": "float64", "revol_bal": "int64", "revol_util": "float64", "total_acc": "float64", "initial_list_status": "object", "out_prncp": "float64", "out_prncp_inv": "float64", "total_pymnt": "float64", "total_pymnt_inv": "float64", "total_rec_prncp": "float64", "total_rec_int": "float64", "total_rec_late_fee": "float64", "recoveries": "float64", "collection_recovery_fee": "float64", "last_pymnt_d": "object", "last_pymnt_amnt": "float64", "next_pymnt_d": "object", "last_credit_pull_d": "object", "collections_12_mths_ex_med": "float64", "mths_since_last_major_derog": "float64", "policy_code": "int64", "application_type": "object", "annual_inc_joint": "float64", "dti_joint": "float64", "verification_status_joint": "float64", "acc_now_delinq": "float64", "tot_coll_amt": "float64", "tot_cur_bal": "float64", "open_acc_6m": "float64", "open_il_6m": "float64", "open_il_12m": "float64", "open_il_24m": "float64", "mths_since_rcnt_il": "float64", "total_bal_il": "float64", "il_util": "float64", "open_rv_12m": "float64", "open_rv_24m": "float64", "max_bal_bc": "float64", "all_util": "float64", "total_rev_hi_lim": "float64", "inq_fi": "float64", "total_cu_tl": "float64", "inq_last_12m": "float64"}, "generated_code": "", "is_html_default": false, "action_metadata": []}}],
  10: [{"expression": "loan_data_backup", "display_name": "", "type": "DataFrame", "repr": "[466285 rows x 75 columns]", "is_callable": false, "table_info": {"rows": 466285, "columns": 75, "row_index_names": [""], "column_index_names": [""], "column_names": ["Unnamed: 0", "id", "member_id", "loan_amnt", "funded_amnt", "funded_amnt_inv", "term", "int_rate", "installment", "grade", "sub_grade", "emp_title", "emp_length", "home_ownership", "annual_inc", "verification_status", "issue_d", "loan_status", "pymnt_plan", "url", "desc", "purpose", "title", "zip_code", "addr_state", "dti", "delinq_2yrs", "earliest_cr_line", "inq_last_6mths", "mths_since_last_delinq", "mths_since_last_record", "open_acc", "pub_rec", "revol_bal", "revol_util", "total_acc", "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt", "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "last_pymnt_d", "last_pymnt_amnt", "next_pymnt_d", "last_credit_pull_d", "collections_12_mths_ex_med", "mths_since_last_major_derog", "policy_code", "application_type", "annual_inc_joint", "dti_joint", "verification_status_joint", "acc_now_delinq", "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_il_6m", "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il", "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc", "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl", "inq_last_12m"], "column_types": {"Unnamed: 0": "int64", "id": "int64", "member_id": "int64", "loan_amnt": "int64", "funded_amnt": "int64", "funded_amnt_inv": "float64", "term": "object", "int_rate": "float64", "installment": "float64", "grade": "object", "sub_grade": "object", "emp_title": "object", "emp_length": "object", "home_ownership": "object", "annual_inc": "float64", "verification_status": "object", "issue_d": "object", "loan_status": "object", "pymnt_plan": "object", "url": "object", "desc": "object", "purpose": "object", "title": "object", "zip_code": "object", "addr_state": "object", "dti": "float64", "delinq_2yrs": "float64", "earliest_cr_line": "object", "inq_last_6mths": "float64", "mths_since_last_delinq": "float64", "mths_since_last_record": "float64", "open_acc": "float64", "pub_rec": "float64", "revol_bal": "int64", "revol_util": "float64", "total_acc": "float64", "initial_list_status": "object", "out_prncp": "float64", "out_prncp_inv": "float64", "total_pymnt": "float64", "total_pymnt_inv": "float64", "total_rec_prncp": "float64", "total_rec_int": "float64", "total_rec_late_fee": "float64", "recoveries": "float64", "collection_recovery_fee": "float64", "last_pymnt_d": "object", "last_pymnt_amnt": "float64", "next_pymnt_d": "object", "last_credit_pull_d": "object", "collections_12_mths_ex_med": "float64", "mths_since_last_major_derog": "float64", "policy_code": "int64", "application_type": "object", "annual_inc_joint": "float64", "dti_joint": "float64", "verification_status_joint": "float64", "acc_now_delinq": "float64", "tot_coll_amt": "float64", "tot_cur_bal": "float64", "open_acc_6m": "float64", "open_il_6m": "float64", "open_il_12m": "float64", "open_il_24m": "float64", "mths_since_rcnt_il": "float64", "total_bal_il": "float64", "il_util": "float64", "open_rv_12m": "float64", "open_rv_24m": "float64", "max_bal_bc": "float64", "all_util": "float64", "total_rev_hi_lim": "float64", "inq_fi": "float64", "total_cu_tl": "float64", "inq_last_12m": "float64"}, "generated_code": "", "is_html_default": false, "action_metadata": []}}]},
 '_dh': ['/data/notebook_files'],
 'In': ['',
  'locals()',
  'import numpy as np\nimport pandas as pd',
  'loan_data_backup = pd.read_csv("loan_data_2007_2014.csv",engine=\'python\')\n# loan_data_orig = loan_data_backup.copy()',
  "loan_data_backup['emp_length'].unique()",
  'loan_data_backup = pd.read_csv("loan_data_2007_2014.csv", encoding=\'latin1\')\n# loan_data_orig = loan_data_backup.copy()',
  "loan_data_backup['emp_length'].unique()",
  'loan_data_backup = pd.read_csv("loan_data_2007_2014.csv", low_memory=False)\n# loan_data_orig = loan_data_backup.copy()',
  "loan_data_backup['emp_length'].unique()",
  'loan_data_backup = pd.read_csv("loan_data_2007_2014.csv", encoding=\'iso-8859-1\')\n# loan_data_orig = loan_data_backup.copy()',
  'locals()'],
 'Out': {1: {...},
  2: [],
  3: [],
  4: array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
         '4 years', '5 years', '6 years', '2 years', '7 years', nan],
        dtype=object),

In [15]:
loan_data_backup['emp_length'].unique()

In [4]:
loan_data_backup.dtypes

Unnamed: 0            int64
id                    int64
member_id             int64
loan_amnt             int64
funded_amnt           int64
                     ...
all_util            float64
total_rev_hi_lim    float64
inq_fi              float64
total_cu_tl         float64
inq_last_12m        float64
Length: 75, dtype: object

In [3]:
loan_data_backup.columns

Index(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url',
       'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'],
      dtype='object')

In [ ]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [7]:
loan_data_backup.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

   Unnamed: 0       id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0           0  1077501    1296599       5000         5000           4975.0
1           1  1077430    1314167       2500         2500           2500.0
2           2  1077175    1313524       2400         2400           2400.0
3           3  1076863    1277178      10000        10000          10000.0
4           4  1075358    1311748       3000         3000           3000.0

         term  int_rate  installment grade sub_grade  \
0   36 months     10.65       162.87     B        B2
1   60 months     15.27        59.83     C        C4
2   36 months     15.96        84.33     C        C5
3   36 months     13.49       339.31     C        C1
4   60 months     12.69        67.79     B        B5

                  emp_title emp_length home_ownership  annual_inc  \
0                       NaN  10+ years           RENT     24000.0
1                     Ryder   < 1 year           RENT     30000.0
2                       NaN  10+ years           RENT     12252.0
3       AIR RESOURCES BOARD  10+ years           RENT     49200.0
4  University Medical Group     1 year           RENT     80000.0

  verification_status issue_d  loan_status pymnt_plan  \
0            Verified  Dec-11   Fully Paid          n
1     Source Verified  Dec-11  Charged Off          n
2        Not Verified  Dec-11   Fully Paid          n
3     Source Verified  Dec-11   Fully Paid          n
4     Source Verified  Dec-11      Current          n

                                                 url  \
0  https://www.lendingclub.com/browse/loanDetail....
1  https://www.lendingclub.com/browse/loanDetail....
2  https://www.lendingclub.com/browse/loanDetail....
3  https://www.lendingclub.com/browse/loanDetail....
4  https://www.lendingclub.com/browse/loanDetail....

                                                desc         purpose  \
0    Borrower added on 12/22/11 > I need to upgra...     credit_card
1    Borrower added on 12/22/11 > I plan to use t...             car
2                                                NaN  small_business
3    Borrower added on 12/21/11 > to pay for prop...           other
4    Borrower added on 12/21/11 > I plan on combi...           other

                  title zip_code addr_state    dti  delinq_2yrs  \
0              Computer    860xx         AZ  27.65          0.0
1                  bike    309xx         GA   1.00          0.0
2  real estate business    606xx         IL   8.72          0.0
3              personel    917xx         CA  20.00          0.0
4              Personal    972xx         OR  17.94          0.0

  earliest_cr_line  inq_last_6mths  mths_since_last_delinq  \
0           Jan-85             1.0                     NaN
1           Apr-99             5.0                     NaN
2           Nov-01             2.0                     NaN
3           Feb-96             1.0                    35.0
4           Jan-96             0.0                    38.0

   mths_since_last_record  open_acc  pub_rec  revol_bal  revol_util  \
0                     NaN       3.0      0.0      13648        83.7
1                     NaN       3.0      0.0       1687         9.4
2                     NaN       2.0      0.0       2956        98.5
3                     NaN      10.0      0.0       5598        21.0
4                     NaN      15.0      0.0      27783        53.9

   total_acc initial_list_status  out_prncp  out_prncp_inv   total_pymnt  \
0        9.0                   f        0.0            0.0   5861.071414
1        4.0                   f        0.0            0.0   1008.710000
2       10.0                   f        0.0            0.0   3003.653644
3       37.0                   f        0.0            0.0  12226.302210
4       38.0                   f      766.9          766.9   3242.170000

   total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
0          5831.78          5000.00         861.07                0.00
1          1008.71           456.46         435.17                0.00
2          3003.65          2400.00         603.65                0.00
3         12226.30         10000.00        2209.33               16.97
4          3242.17          2233.10        1009.07                0.00

   recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt  \
0        0.00                     0.00       Jan-15           171.62
1      117.08                     1.11       Apr-13           119.66
2        0.00                     0.00       Jun-14           649.91
3        0.00                     0.00       Jan-15           357.48
4        0.00                     0.00       Jan-16            67.79

  next_pymnt_d last_credit_pull_d  collections_12_mths_ex_med  \
0          NaN             Jan-16                         0.0
1          NaN             Sep-13                         0.0
2          NaN             Jan-16                         0.0
3          NaN             Jan-15                         0.0
4       Feb-16             Jan-16                         0.0

   mths_since_last_major_derog  policy_code application_type  \
0                          NaN            1       INDIVIDUAL
1                          NaN            1       INDIVIDUAL
2                          NaN            1       INDIVIDUAL
3                          NaN            1       INDIVIDUAL
4                          NaN            1       INDIVIDUAL

   annual_inc_joint  dti_joint  verification_status_joint  acc_now_delinq  \
0               NaN        NaN                        NaN             0.0
1               NaN        NaN                        NaN             0.0
2               NaN        NaN                        NaN             0.0
3               NaN        NaN                        NaN             0.0
4               NaN        NaN                        NaN             0.0

   tot_coll_amt  tot_cur_bal  open_acc_6m  open_il_6m  open_il_12m  \
0           NaN          NaN          NaN         NaN          NaN
1           NaN          NaN          NaN         NaN          NaN
2           NaN          NaN          NaN         NaN          NaN
3           NaN          NaN          NaN         NaN          NaN
4           NaN          NaN          NaN         NaN          NaN

   open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  open_rv_12m  \
0          NaN                 NaN           NaN      NaN          NaN
1          NaN                 NaN           NaN      NaN          NaN
2          NaN                 NaN           NaN      NaN          NaN
3          NaN                 NaN           NaN      NaN          NaN
4          NaN                 NaN           NaN      NaN          NaN

   open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  total_cu_tl  \
0          NaN         NaN       NaN               NaN     NaN          NaN
1          NaN         NaN       NaN               NaN     NaN          NaN
2          NaN         NaN       NaN               NaN     NaN          NaN
3          NaN         NaN       NaN               NaN     NaN          NaN
4          NaN         NaN       NaN               NaN     NaN          NaN

   inq_last_12m
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN

In [5]:
loan_data_backup.shape

(466285, 75)

This dataset has >400 thousand records with 75 columns

In [17]:
pd.DataFrame(loan_data_backup.dtypes)

,0
Unnamed: 0,int64
id,int64
member_id,int64
loan_amnt,int64
funded_amnt,int64
funded_amnt_inv,float64
term,object
int_rate,float64
installment,float64
grade,object
sub_grade,object
emp_title,object
emp_length,object
home_ownership,object
annual_inc,float64
verification_status,object
issue_d,object
loan_status,object
pymnt_plan,object
url,object
desc,object
purpose,object
title,object
zip_code,object
addr_state,object
dti,float64
delinq_2yrs,float64
earliest_cr_line,object
inq_last_6mths,float64
mths_since_last_delinq,float64
mths_since_last_record,float64
open_acc,float64
pub_rec,float64
revol_bal,int64
revol_util,float64
total_acc,float64
initial_list_status,object
out_prncp,float64
out_prncp_inv,float64
total_pymnt,float64
total_pymnt_inv,float64
total_rec_prncp,float64
total_rec_int,float64
total_rec_late_fee,float64
recoveries,float64
collection_recovery_fee,float64
last_pymnt_d,object
last_pymnt_amnt,float64
next_pymnt_d,object
last_credit_pull_d,object
collections_12_mths_ex_med,float64
mths_since_last_major_derog,float64
policy_code,int64
application_type,object
annual_inc_joint,float64
dti_joint,float64
verification_status_joint,float64
acc_now_delinq,float64
tot_coll_amt,float64
tot_cur_bal,float64
open_acc_6m,float64
open_il_6m,float64
open_il_12m,float64
open_il_24m,float64
mths_since_rcnt_il,float64
total_bal_il,float64
il_util,float64
open_rv_12m,float64
open_rv_24m,float64
max_bal_bc,float64
all_util,float64
total_rev_hi_lim,float64
inq_fi,float64
total_cu_tl,float64
inq_last_12m,float64

                                   0
Unnamed: 0                     int64
id                             int64
member_id                      int64
loan_amnt                      int64
funded_amnt                    int64
funded_amnt_inv              float64
term                          object
int_rate                     float64
installment                  float64
grade                         object
sub_grade                     object
emp_title                     object
emp_length                    object
home_ownership                object
annual_inc                   float64
verification_status           object
issue_d                       object
loan_status                   object
pymnt_plan                    object
url                           object
desc                          object
purpose                       object
title                         object
zip_code                      object
addr_state                    object
dti                          float64
delinq_2yrs                  float64
earliest_cr_line              object
inq_last_6mths               float64
mths_since_last_delinq       float64
mths_since_last_record       float64
open_acc                     float64
pub_rec                      float64
revol_bal                      int64
revol_util                   float64
total_acc                    float64
initial_list_status           object
out_prncp                    float64
out_prncp_inv                float64
total_pymnt                  float64
total_pymnt_inv              float64
total_rec_prncp              float64
total_rec_int                float64
total_rec_late_fee           float64
recoveries                   float64
collection_recovery_fee      float64
last_pymnt_d                  object
last_pymnt_amnt              float64
next_pymnt_d                  object
last_credit_pull_d            object
collections_12_mths_ex_med   float64
mths_since_last_major_derog  float64
policy_code                    int64
application_type              object
annual_inc_joint             float64
dti_joint                    float64
verification_status_joint    float64
acc_now_delinq               float64
tot_coll_amt                 float64
tot_cur_bal                  float64
open_acc_6m                  float64
open_il_6m                   float64
open_il_12m                  float64
open_il_24m                  float64
mths_since_rcnt_il           float64
total_bal_il                 float64
il_util                      float64
open_rv_12m                  float64
open_rv_24m                  float64
max_bal_bc                   float64
all_util                     float64
total_rev_hi_lim             float64
inq_fi                       float64
total_cu_tl                  float64
inq_last_12m                 float64

In [ ]:
loan_data_backup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125981 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466264 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

### General Preprocessing
## Pre-processing continous variables
Observing that fields like term, employment length are strings in the dataframe. Lets change that.
<br>
Lets identify the columns with string datatypes

In [9]:
loan_data_backup.dtypes

Unnamed: 0                       int64
id                               int64
member_id                        int64
loan_amnt                        int64
funded_amnt                      int64
funded_amnt_inv                float64
term                            object
int_rate                       float64
installment                    float64
grade                           object
sub_grade                       object
emp_title                       object
emp_length                      object
home_ownership                  object
annual_inc                     float64
verification_status             object
issue_d                         object
loan_status                     object
pymnt_plan                      object
url                             object
desc                            object
purpose                         object
title                           object
zip_code                        object
addr_state                      object
dti                            float64
delinq_2yrs                    float64
earliest_cr_line                object
inq_last_6mths                 float64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_acc                       float64
pub_rec                        float64
revol_bal                        int64
revol_util                     float64
total_acc                      float64
initial_list_status             object
out_prncp                      float64
out_prncp_inv                  float64
total_pymnt                    float64
total_pymnt_inv                float64
total_rec_prncp                float64
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
last_pymnt_d                    object
last_pymnt_amnt                float64
next_pymnt_d                    object
last_credit_pull_d              object
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
policy_code                      int64
application_type                object
annual_inc_joint               float64
dti_joint                      float64
verification_status_joint      float64
acc_now_delinq                 float64
tot_coll_amt                   float64
tot_cur_bal                    float64
open_acc_6m                    float64
open_il_6m                     float64
open_il_12m                    float64
open_il_24m                    float64
mths_since_rcnt_il             float64
total_bal_il                   float64
il_util                        float64
open_rv_12m                    float64
open_rv_24m                    float64
max_bal_bc                     float64
all_util                       float64
total_rev_hi_lim               float64
inq_fi                         float64
total_cu_tl                    float64
inq_last_12m                   float64
dtype: object

In [10]:
type(loan_data_backup.dtypes)

pandas.core.series.Series

In [6]:
loan_data_backup.dtypes[loan_data_backup.dtypes=='object']

In [7]:
loan_data_backup[['term', 'grade', 'sub_grade', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 
                 'pymnt_plan', 'purpose', 'earliest_cr_line', 'initial_list_status', 'last_pymnt_d', 'next_pymnt_d', 
                  'last_credit_pull_d', 'application_type']].head()

,term,grade,sub_grade,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,earliest_cr_line,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type
0,36 months,B,B2,10+ years,RENT,Verified,Dec-11,Fully Paid,n,credit_card,Jan-85,f,Jan-15,NaN,Jan-16,INDIVIDUAL
1,60 months,C,C4,< 1 year,RENT,Source Verified,Dec-11,Charged Off,n,car,Apr-99,f,Apr-13,NaN,Sep-13,INDIVIDUAL
2,36 months,C,C5,10+ years,RENT,Not Verified,Dec-11,Fully Paid,n,small_business,Nov-01,f,Jun-14,NaN,Jan-16,INDIVIDUAL
3,36 months,C,C1,10+ years,RENT,Source Verified,Dec-11,Fully Paid,n,other,Feb-96,f,Jan-15,NaN,Jan-15,INDIVIDUAL
4,60 months,B,B5,1 year,RENT,Source Verified,Dec-11,Current,n,other,Jan-96,f,Jan-16,Feb-16,Jan-16,INDIVIDUAL

emp_length variable pre-processing

In [16]:
loan_data_backup['emp_length'].unique()

In [4]:
help(''.replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [3]:
loan_data_backup['emp_length_int'] = loan_data_backup['emp_length'].str.replace('+ years', '', regex=False) \
                            .str.replace('years', '') \
                            .str.replace('year', '') \
                            .str.replace('< 1', '1') \
                            .str.strip() \
                            .astype("Int64")
loan_data_backup[['emp_length_int','emp_length']].head()

,emp_length_int,emp_length
0,10,10+ years
1,1,< 1 year
2,10,10+ years
3,10,10+ years
4,1,1 year

In [4]:
loan_data_backup['emp_length_int'].unique()

<IntegerArray>
[10, 1, 3, 8, 9, 4, 5, 6, 2, 7, <NA>]
Length: 11, dtype: Int64

Here we are unable to convert NaN to integer, we want this column to be integer <br>
Upon searching, found that regular datatypes like int and int64 cannot handle null values. <br>
Will convert to Int64 (capital I for nullable integer)

In [12]:
loan_data_backup['emp_length_int'].isnull().sum()

21008

In [11]:
loan_data_backup['emp_length_int'].isnull().sum() / loan_data_backup.shape[0]

0.04505399058515715

About 4% of the field values are missing values. Will check that in the missing values section

In [20]:
loan_data_backup['term'].unique()

In [21]:
loan_data_backup['term'].value_counts()

In [5]:
loan_data_backup['term_in_mths'] = loan_data_backup['term'].str.replace(' months', '')
loan_data_backup['term_in_mths'] = pd.to_numeric(loan_data_backup['term_in_mths'])
loan_data_backup['term_in_mths'].unique()

In [6]:
loan_data_backup["term_in_yrs"] = loan_data_backup["term_in_mths"] / 12
loan_data_backup["term_in_yrs"] = loan_data_backup["term_in_yrs"].astype("int64")
loan_data_backup["term_in_yrs"].value_counts()

In [25]:
loan_data_backup["term_in_yrs"].dtype

dtype('int64')

In [24]:
loan_data_backup.dtypes

Unnamed: 0                       int64
id                               int64
member_id                        int64
loan_amnt                        int64
funded_amnt                      int64
funded_amnt_inv                float64
term                            object
int_rate                       float64
installment                    float64
grade                           object
sub_grade                       object
emp_title                       object
emp_length                      object
home_ownership                  object
annual_inc                     float64
verification_status             object
issue_d                         object
loan_status                     object
pymnt_plan                      object
url                             object
desc                            object
purpose                         object
title                           object
zip_code                        object
addr_state                      object
dti                            float64
delinq_2yrs                    float64
earliest_cr_line                object
inq_last_6mths                 float64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_acc                       float64
pub_rec                        float64
revol_bal                        int64
revol_util                     float64
total_acc                      float64
initial_list_status             object
out_prncp                      float64
out_prncp_inv                  float64
total_pymnt                    float64
total_pymnt_inv                float64
total_rec_prncp                float64
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
last_pymnt_d                    object
last_pymnt_amnt                float64
next_pymnt_d                    object
last_credit_pull_d              object
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
policy_code                      int64
application_type                object
annual_inc_joint               float64
dti_joint                      float64
verification_status_joint      float64
acc_now_delinq                 float64
tot_coll_amt                   float64
tot_cur_bal                    float64
open_acc_6m                    float64
open_il_6m                     float64
open_il_12m                    float64
open_il_24m                    float64
mths_since_rcnt_il             float64
total_bal_il                   float64
il_util                        float64
open_rv_12m                    float64
open_rv_24m                    float64
max_bal_bc                     float64
all_util                       float64
total_rev_hi_lim               float64
inq_fi                         float64
total_cu_tl                    float64
inq_last_12m                   float64
emp_length_int                   Int64
term_in_mths                     int64
term_in_yrs                      int64
dtype: object

Now we will preprocess 2 variables: earliest_cr_line & issue_d

In [26]:
loan_data_backup[["earliest_cr_line", "issue_d"]].head()

,earliest_cr_line,issue_d
0,Jan-85,Dec-11
1,Apr-99,Dec-11
2,Nov-01,Dec-11
3,Feb-96,Dec-11
4,Jan-96,Dec-11

In [27]:
loan_data_backup.dtypes[loan_data_backup.dtypes.index.isin(["earliest_cr_line","issue_d"])]

In [7]:
loan_data_backup['issue_d_date'] = pd.to_datetime(loan_data_backup['issue_d'],format="%b-%y")
loan_data_backup['earliest_cr_line_date'] = pd.to_datetime(loan_data_backup['earliest_cr_line'], format="%b-%y")

In [8]:
loan_data_backup["issue_d_date"].min()

Timestamp('2007-06-01 00:00:00')

In [9]:
loan_data_backup["issue_d_date"].max()

Timestamp('2014-12-01 00:00:00')

In [10]:
print("Min earliest_cr_line_date: ", loan_data_backup["earliest_cr_line_date"].min())
print("Max earliest_cr_line_date: ", loan_data_backup["earliest_cr_line_date"].max())

Min earliest_cr_line_date:  1969-01-01 00:00:00
Max earliest_cr_line_date:  2068-12-01 00:00:00

There seems to be a issue with parsing the field earliest_cr_line. There cannot be dates beyond 2017

In [11]:
loan_data_backup.loc[loan_data_backup['earliest_cr_line_date']>'2017-01-01',['earliest_cr_line_date', 'earliest_cr_line']].head()

,earliest_cr_line_date,earliest_cr_line
1580,2062-09-01,Sep-62
1770,2068-09-01,Sep-68
2799,2064-09-01,Sep-64
3282,2067-09-01,Sep-67
3359,2065-02-01,Feb-65

As we can see, 1960s dates are converted to 2060s dates

In [12]:
loan_data_backup.loc[loan_data_backup['earliest_cr_line_date']>'2017-01-01', ['earliest_cr_line_date']].min()

In [13]:
loan_data_backup.loc[loan_data_backup['earliest_cr_line_date']=='2044-01-01', ['earliest_cr_line_date','earliest_cr_line']]

,earliest_cr_line_date,earliest_cr_line
421431,2044-01-01,Jan-44

The dates start from 1944 actually, displayed incorrectly in the Pandas dataframe as 2044 (The default starting point of date system in Python is 1969).
We need to correct it.

In [13]:
loan_data_backup.loc[loan_data_backup['earliest_cr_line_date']>'2017-01-01', ['earliest_cr_line_date']] = loan_data_backup.loc[loan_data_backup['earliest_cr_line_date']>'2017-01-01', ['earliest_cr_line_date']] - pd.DateOffset(years=100)

Now lets recompute the mths_since_earliest_cr_line field

In [14]:
loan_data_backup["mths_since_earliest_cr_line"] = round(pd.to_numeric((pd.Timestamp("2017-01-01") - loan_data_backup["earliest_cr_line_date"]) / np.timedelta64(1,'M')))

In [15]:
loan_data_backup["mths_since_earliest_cr_line"].describe()

In [16]:
loan_data_backup["mths_since_earliest_cr_line"].head()

In [17]:
# Applying similar treatment to issue_d variable as well. Lets compute mths_since_issue_d variable
loan_data_backup["mths_since_issue_d"] = round(pd.to_numeric((pd.to_datetime("2017-01-01") - loan_data_backup["issue_d_date"]) / np.timedelta64(1,"M")))
loan_data_backup["mths_since_issue_d"].describe()

In [18]:
loan_data_backup[["mths_since_issue_d", 'issue_d_date']].head()

,mths_since_issue_d,issue_d_date
0,61.0,2011-12-01
1,61.0,2011-12-01
2,61.0,2011-12-01
3,61.0,2011-12-01
4,61.0,2011-12-01

## Pre-processing discrete variables
We want to create dummy variables for the categorical variables. Below variables, we want to pre-process

- grade
- sub_grade
- home_ownership
- verification_status
- loan_status
- purpose
- addr_state
- initial_list_status

In [22]:
loan_data_backup["grade"].unique()

In [24]:
loan_data_backup['sub_grade'].unique()

In [19]:
pd.get_dummies(loan_data_backup['grade'], prefix="Grade", prefix_sep=":")

,Grade:_A,Grade:_B,Grade:_C,Grade:_D,Grade:_E,Grade:_F,Grade:_G
0,0,1,0,0,0,0,0
1,0,0,1,0,0,0,0
2,0,0,1,0,0,0,0
3,0,0,1,0,0,0,0
4,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...
466280,0,0,1,0,0,0,0
466281,0,0,0,1,0,0,0
466282,0,0,0,1,0,0,0
466283,1,0,0,0,0,0,0
466284,0,0,0,1,0,0,0

In [23]:
loan_data_backup['initial_list_status'].unique()

In [ ]:
loan_data_dummies = [pd.get_dummies(loan_data_backup["grade"], prefix="Grade", prefix_sep=":"),
                     pd.get_dummies(loan_data_backup['sub_grade'], prefix="Sub_Grade", prefix_sep=":"),
                     pd.get_dummies(loan_data_backup['home_ownership'], prefix="Home_Ownership", prefix_sep=":"),
                     pd.get_dummies(loan_data_backup['verification_status'], prefix="Verification_Status", prefix_sep=":"),
                     pd.get_dummies(loan_data_backup['loan_status'], prefix="Loan_Status", prefix_sep=":"),
                     pd.get_dummies(loan_data_backup['purpose'], prefix="Purpose", prefix_sep=":"),
                     pd.get_dummies(loan_data_backup['addr_state'], prefix="Addr_State", prefix_sep=":"),
                     pd.get_dummies(loan_data_backup['initial_list_status'], prefix="Initial_List_Status", prefix_sep=":")
]